.card5 {
  height: 600px;
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.692);
  margin-top: 60px;
  overflow: auto;
}

.swrite {
  font-size: 50px;
  color: black;
  margin-top: 50px;
}

.btn4 {
  width: 200px;
  height: 40px;
  margin-top: 40px;
  margin-left: 380px;
  background-color: rgba(39, 95, 44, 0.774);
}
