<div fxLayoutAlign="center center">
  <mat-card fxLayoutAlign="center center">
    <form [formGroup]="signupForm" fxLayout="column">
      <h1 class="type" fxLayoutAlign="center center">SignUp</h1>
      <mat-form-field class="mat-field" appearance="fill">
        <mat-label>FullName</mat-label>
        <input matInput formControlName="fullName" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let item of gender" [value]="item.value">
            {{ item.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="emailAddress" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Number</mat-label>
        <input matInput formControlName="number" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Choose A Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthDate" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <textarea matInput formControlName="address" class="field"></textarea>
      </mat-form-field>
      <div fxLayoutAlign="center">
        <button mat-raised-button class="btn">
          SUBMIT
        </button>
      </div>
    </form>
  </mat-card>
</div>

<!-- {{ signupForm.value | json }} -->
