.img1 {
  background-image: url(src\vgn1.jpg);
  background-size: cover;
  height: 150px;
  width: 150px;
}

.img2 {
  background-image: url(src\vgn2.jpg);
  background-size: cover;
  height: 150px;
  width: 150px;
}

.img3 {
  background-image: url(src\vgn3.jpg);
  background-size: cover;
  height: 150px;
  width: 150px;
}

.img4 {
  background-image: url(src\vgn4.jpg);
  background-size: cover;
  height: 150px;
  width: 150px;
}

.card {
  height: 750px;
  width: 1500px;
  background-color: rgba(255, 255, 255, 0.692);
  margin-top: 60px;
  overflow: auto;
}

.card2 {
  height: 450px;
  width: 250px;
  margin: 20px;
}

.btn2 {
  width: 200px;
  height: 40px;
  margin-top: 20px;
  background-color: rgba(39, 95, 44, 0.774);
}

.prc {
  font-size: 20px;
  color: rgba(39, 95, 44, 0.774);
  margin-top: 20px;
}

.prc1 {
  font-size: 20px;
  color: rgba(39, 95, 44, 0.774);
  margin-top: 42px;
}

.text {
  font-size: 20px;
  color: black;
  margin-top: 20px;
}
