<div fxLayoutAlign="center center">
  <mat-card class="card" fxLayoutAlign="center">
      <!-- <h1 class="item4">Products</h1> -->

    <div fxLayoutAlign="center center">
      <mat-card class="card2" fxLayoutAlign="center start">
        <div fxLayoutAlign="center center" fxLayout="column">
          <div>
            <div class="img1" fxLayoutAlign="center "></div>
          </div>
          <button mat-raised-button class="btn2">
            ADD
          </button>
          <div class="text">
            Atkins Sweet & Salty Snack Dark Chocolate Sea Salt Caramel Crunch
            Bites 5.29 oz
          </div>
          <div class="prc">
            Price: $5.99
          </div>
        </div>
      </mat-card>
    </div>

    <div fxLayoutAlign="center center">
        <mat-card class="card2" fxLayoutAlign="center start">
          <div fxLayoutAlign="center center" fxLayout="column">
            <div>
              <div class="img2" fxLayoutAlign="center "></div>
            </div>
            <button mat-raised-button class="btn2">
              ADD
            </button>
            <div class="text">
                Atkins Snack Bar Caramel Double Chocolate Crunch 5 bar
            </div>
            <div class="prc1">
                Price: $5.89
            </div>
          </div>
        </mat-card>
      </div>

      <div fxLayoutAlign="center center">
        <mat-card class="card2" fxLayoutAlign="center start">
          <div fxLayoutAlign="center center" fxLayout="column">
            <div>
              <div class="img3" fxLayoutAlign="center "></div>
            </div>
            <button mat-raised-button class="btn2">
              ADD
            </button>
            <div class="text">
                Atkins Endulge Bar Caramel Nut Chew 5 bars
            </div>
            <div class="prc1">
                Price: $5.99
            </div>
          </div>
        </mat-card>
      </div>

      <div fxLayoutAlign="center center">
        <mat-card class="card2" fxLayoutAlign="center start">
          <div fxLayoutAlign="center center" fxLayout="column">
            <div>
              <div class="img4" fxLayoutAlign="center "></div>
            </div>
            <button mat-raised-button class="btn2">
              ADD
            </button>
            <div class="text">
                Atkins Endulge Bar Chocolate Coconut 10 bars
            </div>
            <div class="prc1">
                Price: $9.99
            </div>
          </div>
        </mat-card>
      </div>

  </mat-card>
</div>
