form {
  width: 300px;
  
}

mat-card {
  width: 500px;
  height: 500px;
  margin-top: 80px;
//  background-color: black;
border:solid 10px black;
}



.form-container{
    margin-top: 40px;
}

.field{
    height: 80px;
}